<div class="container custom-text-primary my-4 min-vh-100 py-5">
    <div class="row mt-5">
        <div class="col-lg-3 ">
            <div class="form-group ">
                <!-- <input type="text" hidden="hidden" name="sort" value="dateTime"> -->
                <input type="text" class="form-control" id="keyword-input" name="keyword" [placeholder]="block?.data?.place_holder" required="" value="">
            </div>
        </div>
        <div class="form-group col-lg-2 ">
            
            <button type="button" id="search-button" name="submit" class="btn custom-badge-primary">search</button>
        </div>
        <div class="col-lg-3 ">
            <div class="form-group ">
                <select id="sort" class="form-control">
                    <option class="sort-list" value="deadline">sort by deadline</option>
                    <option class="sort-list" value="title">sort by title</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group ">
                <select id="ascending" class="form-control">
                    <option class="sort-list" value="1" selected="">Ascending</option>
                    <option class="sort-list" value="0">Descending </option>
                </select>
            </div>
        </div>
    </div>
    <block-archive></block-archive>
    <!-- Project One --> 
    
    <!-- /.row -->
    <div class="mt-3">
        <h1>No {{block?.title}} found</h1>
    </div>
</div>