<body data-aos-easing="ease-in-out-sine" data-aos-duration="400" data-aos-delay="0">
  <main id="main">
    <block-header *ngIf="!loading"></block-header>
    <app-blocks *ngIf="!loading && !notFound"></app-blocks>
    <app-loader *ngIf="loading"></app-loader>
    <app-page-not-found *ngIf="notFound"></app-page-not-found>
    <block-footer *ngIf="!loading"></block-footer>
  </main>
  <script data-savepage-src="/vendor/jquery/jquery.min.js" src=""></script>
  <script data-savepage-src="/vendor/bootstrap/js/bootstrap.bundle.min.js" src=""></script>
  <script data-savepage-src="/vendor/bootstrap/js/slick.js" src=""></script>
  <script data-savepage-src="/vendor/bootstrap/js/aos.js" src=""></script>
  <script data-savepage-src="/vendor/bootstrap/js/zoom.js" src=""></script>
  <script data-savepage-src="/vendor/bootstrap/js/transition.js" src=""></script>
</body>