.header {
    color: teal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 9999;
    background: #fff;
    margin-top: 1%;
  }
  .container {
    max-width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 162px;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  a {
    display: block;
    /* position: relative; */
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
  a:hover,
  a.active {
    color: #007bff;
  }
  footer {
    margin-bottom: -6%;
    background-color: black;
    text-align: center;
  }
  footer p {
    max-width: 100%;
    margin: 0 auto;
    /* padding: 10px 0; */
    color: #fff;
    font-size: 13px;
  }
  main {
    padding-top: 68px;
    min-height: calc(100vh - 100px);
  }
  h6{
    font-size: 18px;
    font-weight: normal;
  }
  #navImg{
    display: none;
  }
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu,.logo,.headerItems,.imgLogo,.txtLogo {
      width:100%;
      display: block;
      float: left;
    }
    .sidenav {
      height: 0; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      background-color:whitesmoke; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      /* padding-top: 60px; Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      /* margin-left: -5%; */
      /* margin-right: 10%; */
    }
    .navBar:hover ~ #sidenav{
      width: 100%;
    }
    .sidenav .closeNavBar {
      position: absolute;
      top:0;
      /* right: 25px; */
      /* font-size: 36px; */
      margin-left: 11%;
      margin-top: 4%;
      float: right;

    }
    
    
    .icon{
      display: block;
    }
    .headerItems.resposive{
      position: relative;
    }
    .headerItems.resposive a.icon{
      position: absolute;
      right: 0;
      top: 0;
    }
    .headerItems.resposive a{
      float: none;
      display: block;
      text-align: left;
    } 
    .headerItems{
      flex-direction: column;
    }
    .container{
      flex-direction: row-reverse;
    }
    #navImg{
      /* background-color: aqua; */
      width: 30px;
      height: 25px;
      display: block;
    }
    .txtLogo{
      display: none;
    }
    #sidenav {
      list-style:none;
      display: block;
      justify-content: flex-end;
      align-items: center;
      /* float: left; */
      height: 100%;
      text-align: center;
      font-size: 16px;
    }
    .listLogo{
      margin-left: -10%;
    }
  }