<section class="block" [ngClass]="'block-' + block.type">
  <div class="container">
    <ul class="flex">
      <li class="top">
        <!-- <h1>{{block?.title}}</h1> -->
          <a class="cta" [routerLink]="block?.data?.cta?.url" [target]="block?.data?.cta?.target">{{block?.data?.cta?.title}}</a>
      </li>
      <li class="bottom">
        
          <p>{{block?.data.body}}</p>
          <!-- <img [src]="imagePath" [title]="block?.data?.image?.title" [alt]="block?.data?.image?.alt" /> -->
        
      </li>
    </ul>
  </div>
</section>
