.block {
    color: #283d50;
    background-color: #ecf5ff;
  }
  img {
    /* align-items: center; */
    width: 150px;
    height: auto;
    transform: scale(1);
    transition: all 0.3s ease;
  }
  img:hover {
    transform: scale(1.15);
  }
  .partners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 80px;
    margin-left: 13%;
    width: 100%;
  }
  .partner {
    padding: 64px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;
    /* width: 100%;
    padding-left: 50px; */
  }
  