<header class="mt-5">
    <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">  
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: /*savepage-url=/img/dna-3539309_1920.jpg*/ url()">
                <div class="carousel-caption d-none d-md-block">
                    <span>
                        <h1 class="font-weight-light text-shadow">ለመንግስት ዩኒቨርሲቲ መደበኛ ተማሪዎች በሙሉ</h1>
                    <a class="btn bg-white  text-dark" href="http://moshe.gov.et/viewNews/263">Read More</a>
                    </span>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </header>